{% if (S_TSRAT_ENABLE and S_TS_JSSCROLL) or (S_TSRAT_ENABLE and S_TS_TICKER) %}

{% if S_TS_JSSCROLL and not S_TS_TICKER and SCRIPT_NAME == "index" %}

{% INCLUDEJS 'jquery.totemticker.min.js' %}
<script type="text/javascript">
$(document).ready(function() {
	$('#vertical-ticker').totemticker({
				row_height	:	'41px',
				max_items	:	3,
				speed		:	{{ JSSCROLL_SPEED }},
				interval	:	{{ JSSCROLL_INTERVAL }},
				{% if TS_JSSCROLL_NAVIGATION %}
				next		:	'#ticker-next',
				previous	:	'#ticker-previous',
				stop		:	'#stop',
				start		:	'#start',
				{% endif %}
				mousestop	:	true,
				direction	:	'{% if TS_JSSCROLL_DIRECTION %}down{% else %}up{% endif %}'
	});
});
</script>
{% elseif S_TS_TICKER and not S_TS_JSSCROLL %}
{% INCLUDEJS 'jquery.newsticker.js' %}
<script type="text/javascript">
$(document).ready(function() {
	$("#news").newsTicker();
});
</script>
{% endif %}
{% endif %}
