{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('TOP_STATS') }}</h1>

<p><img src="https://img.shields.io/badge/{{ lang('Version') }}-{{ TS_VERSION }}-green.svg?style=plastic" /></p>

<form id="acp_topstats" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('TS_RECENT_SETTINGS') }}</legend>
		<dl>
			<dt><label for="tsrat_enable">{{ lang('TS_RECENT_ENABLE') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_RECENT_ENABLE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="tsrat_enable" value="1"{% if TSRAT_ENABLE %} id="tsrat_enable" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="tsrat_enable" value="0"{% if not TSRAT_ENABLE %} id="tsrat_enable" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="tsrat_number">{{ lang('TSRAT_NUMBER') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TSRAT_NUMBER_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="text" name="tsrat_number" id="tsrat_number" size="10" value="{{ TSRAT_NUMBER }}" />
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="ts_jsscroll">{{ lang('TS_JSSCROLL') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_JSSCROLL_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="ts_jsscroll" value="1"{% if TS_JSSCROLL %} id="ts_jsscroll" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="ts_jsscroll" value="0"{% if not TS_JSSCROLL %} id="ts_jsscroll" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="tsjss_speed">{{ lang('TS_JSSCROLL_SPEED') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_JSSCROLL_SPEED_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="text" name="tsjss_speed" id="tsjss_speed" size="10" value="{{ JSSCROLL_SPEED }}" />
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="tsjss_interval">{{ lang('TS_JSSCROLL_INTERVAL') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_JSSCROLL_INTERVAL_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="text" name="tsjss_interval" id="tsjss_interval" size="10" value="{{ JSSCROLL_INTERVAL }}" />
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="ts_jsscroll_direction">{{ lang('TS_JSSCROLL_DIRECTION') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_JSSCROLL_DIRECTION_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="ts_jsscroll_direction" value="1"{% if TS_JSSCROLL_DIRECTION %} id="ts_jsscroll_direction" checked="checked"{% endif %} /> {{ lang('TS_JSSCROLL_DIRECTION_UP') }}</label>
				<label><input type="radio" class="radio" name="ts_jsscroll_direction" value="0"{% if not TS_JSSCROLL_DIRECTION %} id="ts_jsscroll_direction" checked="checked"{% endif %} /> {{ lang('TS_JSSCROLL_DIRECTION_DOWN') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="ts_jsscroll_pause">{{ lang('TS_JSSCROLL_PAUSE') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_JSSCROLL_PAUSE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="ts_jsscroll_pause" value="1"{% if TS_JSSCROLL_PAUSE %} id="ts_jsscroll_pause" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="ts_jsscroll_pause" value="0"{% if not TS_JSSCROLL_PAUSE %} id="ts_jsscroll_pause" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="ts_jsscroll_navigation">{{ lang('TS_JSSCROLL_NAVIGATION') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_JSSCROLL_NAVIGATION_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="ts_jsscroll_navigation" value="1"{% if TS_JSSCROLL_NAVIGATION %} id="ts_jsscroll_navigation" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="ts_jsscroll_navigation" value="0"{% if not TS_JSSCROLL_NAVIGATION %} id="ts_jsscroll_navigation" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="ts_ticker_enable">{{ lang('TS_TICKER_ENABLE') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_TICKER_ENABLE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="ts_ticker_enable" value="1"{% if TS_TICKER_ENABLE %} id="ts_ticker_enable" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="ts_ticker_enable" value="0"{% if not TS_TICKER_ENABLE %} id="ts_ticker_enable" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('TS_MOSTVIEWED_SETTINGS') }}</legend>
		<dl>
			<dt>
				<label for="tsmvt_enable">{{ lang('TS_MOSTVIEWED_ENABLE') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_MOSTVIEWED_ENABLE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="tsmvt_enable" value="1"{% if TSMVT_ENABLE %} id="tsmvt_enable" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="tsmvt_enable" value="0"{% if not TSMVT_ENABLE %} id="tsmvt_enable" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="tsmvt_number">{{ lang('TS_MOSTVIEWED_NUMBER') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_MOSTVIEWED_NUMBER_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="text" name="tsmvt_number" id="tsmvt_number" size="10" value="{{ TSMVT_NUMBER }}" />
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('TS_MOSTREPLIED_SETTINGS') }}</legend>
		<dl>
			<dt>
				<label for="tsmrt_enable">{{ lang('TS_MOSTREPLIED_ENABLE') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_MOSTREPLIED_ENABLE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="tsmrt_enable" value="1"{% if TSMRT_ENABLE %} id="tsmrt_enable" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="tsmrt_enable" value="0"{% if not TSMRT_ENABLE %} id="tsmrt_enable" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="tsmrt_number">{{ lang('TS_MOSTVIEWED_NUMBER') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_MOSTREPLIED_NUMBER_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="text" name="tsmrt_number" id="tsmrt_number" size="10" value="{{ TSMRT_NUMBER }}" />
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('TS_MOSTACTIVEUSER_SETTINGS') }}</legend>
		<dl>
			<dt>
				<label for="tsmau_enable">{{ lang('TS_MOSTACTIVEUSER_ENABLE') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_MOSTACTIVEUSER_ENABLE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="tsmau_enable" value="1"{% if TSMAU_ENABLE %} id="tsmau_enable" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="tsmau_enable" value="0"{% if not TSMAU_ENABLE %} id="tsmau_enable" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="tsmau_number">{{ lang('TS_MOSTACTIVEUSER_NUMBER') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_MOSTACTIVEUSER_NUMBER_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="text" name="tsmau_number" id="tsmau_number" size="10" value="{{ TSMAU_NUMBER }}" />
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('TS_MOSTACTIVEFORUM_SETTINGS') }}</legend>
		<dl>
			<dt>
				<label for="tsmaf_enable">{{ lang('TS_MOSTACTIVEFORUM_ENABLE') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_MOSTACTIVEFORUM_ENABLE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="tsmaf_enable" value="1"{% if TSMAF_ENABLE %} id="tsmaf_enable" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="tsmaf_enable" value="0"{% if not TSMAF_ENABLE %} id="tsmaf_enable" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="tsmaf_number">{{ lang('TS_MOSTACTIVEFORUM_NUMBER') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_MOSTACTIVEFORUM_NUMBER_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="text" name="tsmaf_number" id="tsmaf_number" size="10" value="{{ TSMAF_NUMBER }}" />
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('TS_LASTVISITEDBOT_SETTINGS') }}</legend>
		<dl>
			<dt>
				<label for="tslvb_enable">{{ lang('TS_LASTVISITEDBOT_ENABLE') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_LASTVISITEDBOT_ENABLE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="tslvb_enable" value="1"{% if TSLVB_ENABLE %} id="tslvb_enable" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="tslvb_enable" value="0"{% if not TSLVB_ENABLE %} id="tslvb_enable" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="tslvb_number">{{ lang('TS_LASTVISITEDBOT_NUMBER') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_LASTVISITEDBOT_NUMBER_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="text" name="tslvb_number" id="tslvb_number" size="10" value="{{ TSLVB_NUMBER }}" />
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('TS_LASTREGISTEREDUSER_SETTINGS') }}</legend>
		<dl>
			<dt>
				<label for="tslru_enable">{{ lang('TS_LASTREGISTEREDUSER_ENABLE') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_LASTREGISTEREDUSER_ENABLE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="tslru_enable" value="1"{% if TSLRU_ENABLE %} id="tslru_enable" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="tslru_enable" value="0"{% if not TSLRU_ENABLE %} id="tslru_enable" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="tslru_number">{{ lang('TS_LASTREGISTEREDUSER_NUMBER') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('TS_LASTREGISTEREDUSER_NUMBER_EXPLAIN') }}</span>
			</dt>
			<dd>
				<input type="text" name="tslru_number" id="tslru_number" size="10" value="{{ TSLRU_NUMBER }}" />
			</dd>
		</dl>
	</fieldset>
	<p class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		{{ S_FORM_TOKEN }}
	</p>
</form>

{% INCLUDE 'overall_footer.html' %}
